<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <!-- account setting page -->
        <section id="basic-tabs-components">
            <div class="row match-height">
                <div class="col-md-12 mb-2 mb-md-0">
                    <core-card-snippet>
                        <div class="card-body">
                            <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs">
                                <li ngbNavItem>
                                    <a ngbNavLink><span [data-feather]="'user'"></span> Umum</a>
                                    <ng-template ngbNavContent>
                                        <!-- header media -->
                                        <!-- <div class="media">
                                            <a href="javascript:void(0);" class="mr-25">
                                                <img src="http://localhost:4200/assets/images/portrait/small/avatar-s-11.jpg"
                                                    class="rounded mr-50" alt="profile image" height="76" width="80" />
                                            </a>
                                            <div class="media-body mt-75 ml-1">
                                                <button for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75"
                                                    rippleEffect>
                                                    Upload
                                                </button>
                                                <input type="file" #file id="account-upload" hidden accept="image/*" />
                                                <button class="btn btn-sm btn-outline-secondary mb-75"
                                                    rippleEffect>Reset</button>
                                                <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
                                            </div>
                                        </div> -->
                                        <!--/ header media -->

                                        <!-- form -->
                                        <form [formGroup]="generalForm" (ngSubmit)="onSubmit()"
                                            class="validate-form mt-2">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-username">Username</label>
                                                        <input type="text" class="form-control" id="account-username"
                                                            formControlName="username" name="username" readonly
                                                            placeholder="Username" />
                                                    </div>
                                                </div>
                                                <!-- <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-name">Name</label>
                                                        <input type="text" class="form-control" id="account-name"
                                                            name="name" placeholder="Name" />
                                                    </div>
                                                </div> -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-e-mail">E-mail</label>
                                                        <input type="text" class="form-control" id="account-e-mail"
                                                            formControlName="email" name="email" placeholder="Email" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-company">Perusahaan</label>
                                                        <input type="text" class="form-control" id="account-company"
                                                            formControlName="company" name="company"
                                                            placeholder="Nama Perusahaan" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" (click)="setFormSubmitName('generalForm')"
                                                        class="btn btn-primary mt-2 mr-1" rippleEffect>Simpan</button>
                                                    <button type="reset" (click)="resetForm()"
                                                        class="btn btn-outline-secondary mt-2"
                                                        rippleEffect>Batal</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink><span [data-feather]="'lock'"></span> Ganti Password</a>
                                    <ng-template ngbNavContent>
                                        <!-- form -->
                                        <form class="validate-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-old-password">Password lama</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input type="password" class="form-control"
                                                                id="account-old-password" formControlName="old_password"
                                                                name="password" placeholder="Password Lama" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text cursor-pointer"><i
                                                                        class="feather font-small-4"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-new-password">Password Baru</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input type="password" id="account-new-password"
                                                                name="new-password" formControlName="new_password"
                                                                class="form-control" placeholder="Password Baru" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text cursor-pointer"><i
                                                                        class="feather font-small-4"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-retype-new-password">Konfirmasi
                                                            Password</label>
                                                        <div class="input-group form-password-toggle input-group-merge">
                                                            <input type="password" class="form-control"
                                                                id="account-retype-new-password"
                                                                formControlName="confirm_password"
                                                                name="confirm-new-password"
                                                                placeholder="Konfirmasi Password" />
                                                            <div class="input-group-append">
                                                                <span class="input-group-text cursor-pointer"><i
                                                                        class="feather font-small-4"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" (click)="setFormSubmitName('passwordForm')"
                                                        class="btn btn-primary mr-1 mt-1" rippleEffect>Ganti
                                                        Password</button>
                                                    <button type="reset" (click)="resetForm()"
                                                        class="btn btn-outline-secondary mt-1"
                                                        rippleEffect>Batal</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink><span [data-feather]="'info'"></span> Informasi</a>
                                    <ng-template ngbNavContent>
                                        <!-- form -->
                                        <form class="validate-form" [formGroup]="informationForm"
                                            (ngSubmit)="onSubmit()">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="accountTextarea">Bio</label>
                                                        <textarea class="form-control" id="accountTextarea"
                                                            formControlName="bio" name="bio" rows="4"
                                                            placeholder="Ketik Biografi anda disini..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="accountSelect">Negara</label>
                                                        <input formControlName="country" id="country" name="country"
                                                            class="form-control" placeholder="Negara" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-website">Website</label>
                                                        <input formControlName="website" type="text"
                                                            class="form-control" name="website" id="account-website"
                                                            placeholder="Alamat Website" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-phone">Handphone</label>
                                                        <input type="text" class="form-control" id="account-phone"
                                                            formControlName="phone" placeholder="No. Handphone"
                                                            name="phone" />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button type="submit" (click)="setFormSubmitName('informationForm')"
                                                        class="btn btn-primary mt-1 mr-1" rippleEffect>Simpan</button>
                                                    <button type="reset" (click)="resetForm()"
                                                        class="btn btn-outline-secondary mt-1"
                                                        rippleEffect>Batal</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink><span [data-feather]="'link'"></span> Sosial</a>
                                    <ng-template ngbNavContent>
                                        <!-- form -->
                                        <form class="validate-form" [formGroup]="socialForm" (ngSubmit)="onSubmit()">
                                            <div class="row">
                                                <!-- twitter link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-twitter">Twitter</label>
                                                        <input type="text" id="account-twitter" name="account-twitter"
                                                            formControlName="twitter" class="form-control"
                                                            placeholder="Tambahkan link" />
                                                    </div>
                                                </div>
                                                <!-- facebook link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-facebook">Facebook</label>
                                                        <input type="text" id="account-facebook" name="account-facebook"
                                                            formControlName="facebook" class="form-control"
                                                            placeholder="Tambahkan link" />
                                                    </div>
                                                </div>
                                                <!-- linkedin link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-linkedin">LinkedIn</label>
                                                        <input type="text" id="account-linkedin" name="account-linkedin"
                                                            formControlName="linkedin" class="form-control"
                                                            placeholder="Tambahkan link" />
                                                    </div>
                                                </div>
                                                <!-- instagram link input -->
                                                <div class="col-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="account-instagram">Instagram</label>
                                                        <input type="text" id="account-instagram"
                                                            formControlName="instagram" name="account-instagram"
                                                            class="form-control" placeholder="Tambahkan link" />
                                                    </div>
                                                </div>

                                                <!-- divider -->
                                                <div class="col-12">
                                                    <hr class="my-2" />
                                                </div>

                                                <div class="col-12">
                                                    <!-- submit and cancel button -->
                                                    <button type="submit" (click)="setFormSubmitName('socialForm')"
                                                        class="btn btn-primary mr-1 mt-1" rippleEffect>Simpan</button>
                                                    <button type="reset" (click)="resetForm()"
                                                        class="btn btn-outline-secondary mt-1"
                                                        rippleEffect>Batal</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!--/ form -->
                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
                        </div>
                    </core-card-snippet>
                </div>

            </div>
        </section>
        <!--/ account setting page -->
    </div>
</div>