<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section>
      <div class="row">
        <div class="col-sm-2">
          <div class="sidebar-menu-list">
            <div class="list-group list-group-messages">
              <a class="btn btn-relief-primary sidebar-beranda sidebar-beranda-action no-background"
                [routerLink]="['/beranda']">
                <span [data-feather]="'home'" [size]="20" [class]="'mr-75'"></span>
                <span class="align-middle">Home</span>
              </a>
              <a class="btn btn-relief-danger sidebar-beranda sidebar-beranda-action no-background mt-1"
                [routerLink]="['/']">
                <span [data-feather]="'youtube'" [size]="20" [class]="'mr-75'"></span>
                <span class="align-middle">Youtube</span>
              </a>
              <a class="btn btn-relief-warning sidebar-beranda sidebar-beranda-action no-background mt-1"
                [routerLink]="['/']">
                <span [data-feather]="'tag'" [size]="20" [class]="'mr-75'"></span>
                <span class="align-middle">Tags</span>
              </a>
              <a class="btn btn-relief-secondary sidebar-beranda sidebar-beranda-action no-background mt-1"
                [routerLink]="['/']">
                <span [data-feather]="'at-sign'" [size]="20" [class]="'mr-75'"></span>
                <span class="align-middle">FAQ</span>
              </a>
              <a class="btn btn-relief-success sidebar-beranda sidebar-beranda-action no-background mt-1"
                [routerLink]="['/']">
                <span [data-feather]="'phone'" [size]="20" [class]="'mr-75'"></span>
                <span class="align-middle">Contact</span>
              </a>
              <a class="btn btn-relief-info sidebar-beranda sidebar-beranda-action no-background mt-1"
                [routerLink]="['/']">
                <span [data-feather]="'alert-circle'" [size]="20" [class]="'mr-75'"></span>
                <span class="align-middle">About</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-md-4 col-12 d-flex align-items-stretch" *ngFor="let row of this.rows">
              <div class="card">
                <img class="card-img-top" src="{{ _baseUrl + '/files/' + row.fileUpload }}" alt="Card image cap" />
                <div class="card-body align-items-stretch">
                  <h4 class="card-title">{{truncateTitle(row.title)}}</h4>
                  <div class="media">
                    <div class="avatar mr-50">
                      <div *ngIf="row.profile; then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock><img src="{{ _baseUrl + '/files/avatar/' + row.profile }}" alt="Avatar"
                          width="24" height="24" /></ng-template>
                      <ng-template #elseBlock><img src="{{ _baseUrl + '/files/avatar/default/avatar.jpg' }}"
                          alt="Avatar" width="24" height="24" /></ng-template>

                    </div>
                    <div class="media-body">
                      <small class="text-muted mr-25">by</small>
                      <small><a href="javascript:void(0);" class="text-body">{{row.username}}</a></small>
                      <span class="text-muted ml-50 mr-25">|</span>
                      <small class="text-muted">{{ setMoment(row.createdAt)}}</small>
                    </div>
                  </div>
                  <div class="my-1 py-23">

                  </div>
                  <p class="card-text mb-2" [innerHTML]="removeTag(row.content)"></p>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-between align-items-center">
                    <a routerLink="/">
                      <div class="d-flex align-items-center">
                        <i data-feather="message-square" class="font-medium-1 text-body mr-50"></i>
                        <span class="text-body font-weight-bold">0 Comments</span>
                      </div>
                    </a>
                    <a type="button" class="btn btn-relief-primary font-weight-bold"
                      [routerLink]="['/readBlog/', row.id]">Baca
                      artikel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="mt-4">

    </section>
  </div>
</div>