<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Register v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <h2 class="brand-text text-primary ml-1">Sign Up, Blimanik Blog</h2>
        </a>

        <form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="register-username" class="form-label">Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="masukkan username"
              aria-describedby="register-username"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username wajib diisi</div>
            </div>
          </div>
          <div class="form-group">
            <label for="register-email" class="form-label">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="masukkan email"
              aria-describedby="register-email"
              tabindex="2"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email wajib diisi</div>
              <div *ngIf="f.email.errors.email">Email tidak valid</div>
            </div>
          </div>

          <div class="form-group">
            <label for="register-password" class="form-label">Password</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="3"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">Password wajib diisi</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="5" rippleEffect>Sign up</button>
        </form>

        <p class="text-center mt-2">
          <span>Sudah memiliki akun? </span>
          <a routerLink="/authentication/login">
            <span> Sign in </span>
          </a>
        </p>

      </div>
    </div>
    <!-- /Register v1 -->
  </div>
</div>
