<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Table Basic -->
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ contentHeaderName }}</h4>
          </div>
          <div class="card-body">
            <div *ngIf="message" class="alert alert-secondary" role="alert">
              {{ message }}
            </div>
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="mt-2">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group mb-2">
                    <label for="blog-edit-title"><span class="text-danger">*</span>Title</label>
                    <input type="text" formControlName="title" id="title" name="title" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group mb-2">
                    <label for="blog-edit-title"><span class="text-danger">*</span>Category</label>
                    <input type="text" formControlName="category" id="category" name="category" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group mb-2">
                    <label for="blog-edit-slug"><span class="text-danger">*</span>Slug</label>
                    <input type="text" id="slug" formControlName="slug" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group mb-2">
                    <label for="blog-edit-status"><span class="text-danger">*</span>Status</label>
                    <select class="form-control cursor-pointer" id="status" formControlName="status" name="status">
                      <option value="published">Published</option>
                      <option value="pending">Pending</option>
                      <option value="draft">Draft</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group mb-2">
                    <label for="blog-edit-slug"><span class="text-danger"></span>Cover Image</label>
                    <div class="custom-file">
                      <input type="file" name="fileUpload" class="custom-file-input" id="customFile" accept="image/*"
                        (change)="selectFile($event)" />
                      <!-- <input type="file" accept="image/*" (change)="selectFile($event)" /> -->
                      <label class="custom-file-label" for="customFile">{{ uploadName }}</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-12" *ngIf="fileDownload">
                  <div>
                    <a type="button" href="{{this.fileDownload}}" class="btn btn-icon btn-outline-primary preview"
                      rippleEffect>
                      <span [data-feather]="'download'"></span></a>
                  </div>
                </div>
                <div class="col-md-5 col-12">
                  <div>
                    <img [src]="preview" class="preview">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-2">
                    <label><span class="text-danger">*</span>Content</label>
                    <quill-editor name="content" formControlName="content">
                    </quill-editor>
                  </div>
                </div>
                <div class="col-9 mt-50"></div>
                <div class="col-auto mt-50">
                  <div *ngIf="isEdit; then thenBlock; else elseBlock"></div>
                  <ng-template #thenBlock><button type="button" class="btn btn-relief-danger ml-2" routerLink="/blogs"
                      rippleEffect>
                      Cancel
                    </button></ng-template>
                  <ng-template #elseBlock><button type="button" class="btn btn-relief-danger ml-3" routerLink="/blogs"
                      rippleEffect>
                      Cancel
                    </button></ng-template>
                  <button type="submit" class="btn btn-relief-primary ml-1 float-right" rippleEffect>
                    {{ actionBtn }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Table Basic -->
  </div>
</div>