<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Forgot Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <h2 class="brand-text text-primary ml-1">Lupa Password</h2>
        </a>

        <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="forgot-password-email" class="form-label">Masukkan Email</label>
            <input
              type="text"
              class="form-control"
              placeholder="masukkan email"
              formControlName="email"
              aria-describedby="forgot-password-email"
              tabindex="1"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email wajib terisi</div>
              <div *ngIf="f.email.errors.email">Email tidak valid</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Kirim Reset Link</button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v1">
            <i data-feather="chevron-left" class="mb-25"></i> Kembali ke login
          </a>
        </p>
      </div>
    </div>
    <!-- /Forgot Password v1 -->
  </div>
</div>
